aiosignal==1.2.0
alabaster==0.7.11
anaconda-client==1.7.2
anaconda-navigator==1.9.2
anaconda-project==0.8.2
appdirs==1.4.3
arrow==1.2.1
asn1crypto==0.24.0
astroid==2.0.4
astropy==3.0.4
async-timeout==4.0.2
asynctest==0.13.0
atomicwrites==1.2.1
attrs==18.2.0
automat==0.7.0
awscli==1.22.27
babel==2.6.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.3
binaryornot==0.4.4
bitarray==0.8.3
bkcharts==0.2
blaze==0.11.3
bleach==2.1.4
bokeh==0.13.0
boto==2.49.0
botocore==1.23.27
bottleneck==1.2.1
cached-property==1.5.2
cachetools==4.2.4
certifi==2018.8.24
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.9
click==8.0.3
cloudpickle==0.5.5
clyent==1.2.2
colorama==0.3.9
conda-build==3.15.1
conda==4.5.11
configparser==5.2.0
constantly==15.1.0
contextlib2==0.5.5
cookiecutter==1.7.3
coverage==6.2
cryptography==36.0.1
cycler==0.10.0
cython==0.28.5
cytoolz==0.9.0.1
dask==0.19.1
datashape==0.5.4
decorator==4.3.0
defusedxml==0.5.0
distributed==1.23.1
docker-pycreds==0.4.0
docutils==0.14
entrypoints==0.2.3
et-xmlfile==1.0.1
fastcache==1.0.2
filelock==3.0.8
flake8==4.0.1
flask-cors==3.0.6
flask==1.0.2
frozenlist==1.2.0
fsspec==2021.11.1
ftfy==6.0.3
funcy==1.17
future==0.18.2
gevent==1.3.6
gitdb==4.0.9
gitpython==3.1.24
glob2==0.6
gmpy2==2.0.8
google-api-core==2.3.2
google-api-python-client==2.33.0
google-auth-httplib2==0.1.0
google-auth==2.3.3
googleapis-common-protos==1.54.0
greenlet==0.4.15
h5py==2.8.0
heapdict==1.0.0
html5lib==1.0.1
httplib2==0.20.2
hyperlink==18.0.0
idna==2.7
imageio==2.4.1
imagesize==1.1.0
importlib-metadata==4.2.0
incremental==17.5.0
ipykernel==4.9.0
ipython-genutils==0.2.0
ipython==6.5.0
ipywidgets==7.4.1
isort==4.3.4
itsdangerous==0.24
jdcal==1.4
jedi==0.12.1
jeepney==0.3.1
jinja2-time==0.2.0
jinja2==2.10
jmespath==0.10.0
jsonschema==2.6.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyter==1.0.0
jupyterlab-launcher==0.13.1
jupyterlab==0.34.9
keyring==13.2.1
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
llvmlite==0.24.0
locket==0.2.0
lxml==4.2.5
mailchecker==4.1.7
markupsafe==1.0
matplotlib==2.2.3
mccabe==0.6.1
mistune==0.8.3
mkl-fft==1.0.4
mkl-random==1.0.1
more-itertools==4.3.0
mpmath==1.0.0
msgpack==0.5.6
multidict==5.2.0
multipledispatch==0.6.0
navigator-updater==0.2.1
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.1
nltk==3.3
nose==1.3.7
notebook==5.6.0
numba==0.39.0
numexpr==2.6.8
numpy==1.15.1
numpydoc==0.8.0
oauth2client==4.1.3
odo==0.5.1
olefile==0.46
openpyxl==2.5.6
packaging==17.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
partd==0.3.8
path.py==11.1.0
pathlib2==2.3.2
pathspec==0.9.0
pathtools==0.1.2
patsy==0.5.0
pep8==1.7.1
pexpect==4.6.0
phonenumbers==8.12.40
pickleshare==0.7.4
pillow==9.0.0
pip==21.3.1
pkginfo==1.4.2
pluggy==0.7.1
ply==3.11
poyo==0.5.0
prometheus-client==0.3.1
promise==2.3
prompt-toolkit==1.0.15
protobuf==3.19.1
psutil==5.9.0
ptyprocess==0.6.0
py==1.6.0
pyasn1-modules==0.2.2
pyasn1==0.4.4
pycodestyle==2.8.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.2
pyflakes==2.4.0
pygit2==1.7.2
pygments==2.11.1
pygtrie==2.4.2
pylint==2.1.1
pyodbc==4.0.24
pyopenssl==21.0.0
pyparsing==3.0.6
pysocks==1.6.8
pytest-arraydiff==0.2
pytest-astropy==0.4.0
pytest-doctestplus==0.1.3
pytest-openfiles==0.3.0
pytest-remotedata==0.3.0
pytest==3.8.0
python-dateutil==2.7.3
python-dotenv==0.19.2
python-fsutil==0.5.0
python-slugify==5.0.2
pytz==2018.5
pywavelets==1.0.0
pyyaml==3.13
pyzmq==17.1.2
qtawesome==0.4.4
qtconsole==4.4.1
qtpy==1.5.0
requests==2.27.0
rope==0.11.0
rsa==4.7.2
ruamel-yaml==0.15.46
ruamel.yaml.clib==0.2.6
s3transfer==0.5.0
scikit-image==0.14.0
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
secretstorage==3.1.0
send2trash==1.5.0
sentry-sdk==1.5.1
service-identity==17.0.0
setuptools==60.2.0
shortuuid==1.0.8
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.16.0
smmap==5.0.0
snakeviz==2.1.1
snowballstemmer==1.2.1
sortedcollections==1.0.1
sortedcontainers==2.0.5
sphinx==1.7.9
sphinxcontrib-websupport==1.1.0
spyder-kernels==0.2.6
spyder==3.3.1
sqlalchemy==1.2.11
src==0.1.0
statsmodels==0.9.0
subprocess32==3.5.4
sympy==1.2
tables==3.4.4
tblib==1.3.2
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
text-unidecode==1.3
toml==0.10.2
toolz==0.9.0
torch==1.10.1+cu113
torchaudio==0.10.1+cu113
torchvision==0.11.2+cu113
tornado==5.1
tqdm==4.26.0
traitlets==4.3.2
twisted==18.7.0
typing-extensions==4.0.1
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==1.26.7
wandb==0.12.9
wcwidth==0.1.7
webencodings==0.5.1
werkzeug==0.14.1
wheel==0.37.1
widgetsnbextension==3.4.1
wrapt==1.10.11
xlrd==1.1.0
xlsxwriter==1.1.0
xlwt==1.3.0
xmltodict==0.12.0
yarl==1.7.2
yaspin==2.1.0
zict==0.1.3
zipp==3.7.0
zope.interface==4.5.0